@font-face {
    font-family: 'DSEG';
    src: url(fonts/DSEG7ClassicMini-BoldItalic.ttf), url(fonts/DSEG7ClassicMini-BoldItalic.woff)m url(fonts/DSEG7ClassicMini-BoldItalic.woff2);
}

html {
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 4vw;
    background-color: hsl(0, 100%, 85%);
    position: relative;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    aspect-ratio: 1/1;
    gap: 1px;
    align-items: end;
    align-content: center;
    justify-content: center;
    perspective: 400px;
}

.box {
    height: 19%;
    width: 19%;
    background-color: #808080;
    animation: fadein .6s;
    transition: background-color .3s, background-image .3s, transform .3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.pink {
    background-image: linear-gradient(135deg,#ff80ff,#ffb8ff);
}

.box:hover {
    transform-style: preserve-3d;
    transform: translateZ(30px);
    background-color: #b8b8b8;
}

.pink:hover {
    background-image: linear-gradient(135deg,#ffb8ff,#ffe8ff);
}

.box:active {
    transform-style: preserve-3d;
    transform: translateZ(0px);
}

#timeWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
    margin-bottom: 14px;
    width: 40%;
}

#field {
    display: flex;
    column-gap: 14px;
    width: 50%;
}

#time {
    border-radius: 9999px;
    height: 30px;
    width: 50%;
    padding-left: 20px;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid #b8b8b8;
    color: #666;
    background-image: linear-gradient(45deg, #eee, #b8b8b8)
}

#checkTime {
    border-radius: 9999px;
    font-family: sans-serif;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #f8f8f8;
    background-image: linear-gradient(135deg, #eee, #b8b8b8);
    color: #666;
}

#display {
    height: 4vw;
    color: #666;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#list, #calc {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

#calc {
    display: flex;
    top: 20px;
    left: 20px;
    flex-direction: column;
    row-gap: 4px;
    padding: 10px;
    width: 200px;
    background-color: #b8b8b8;
    box-shadow: 0px 0px 6px 6px rgba(0,0,0,.2) inset;
}

#calcDisplay {
    font-family: 'DSEG';
    display: flex;
    background-color: #809080;
    height: 80px;
    padding: 0px 10px;
    font-size: 40px;
    align-items: center;
    box-shadow: 0px 0px 6px 6px rgba(0,0,0,.2) inset;
    position: relative;
}

#calcDisplay::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    overflow: hidden;
  }
  

#calcBtns {
    display: flex;
    column-gap: 4px;
    width: 100%;
    height: 200px;
}

.calcBtn {
    background-image: linear-gradient(135deg, #eee, #b8b8b8);
    /* border: 1px solid #666; */
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcBtn:hover {
    background-image: linear-gradient(135deg, #fff, #d8d8d8);
}

.calcBtn:active {
    background-image: linear-gradient(135deg, #ccc, #888888);
}

#operations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1px;
}

#operations button {
    flex-grow: 1;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 1px;
}

.calcNum {
    width: 32%;
    flex-grow: 1;
}

.calcNum:last-child {
    flex-grow: 0;
}

#slideshowWrap {
    position:absolute;
    top: 0;
    right: 0;
    border: 1px solid white;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    /* object-fit: cover; */
}

#slideshowWrap>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b8b8b8;
    font-size: 20px;
}

#slideshow {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#mainNav {
    display: flex;
    column-gap: 10px;
    font-size: 20px;
}

#dListWrap {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#dList {
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
    overflow-y: auto;
    max-height: 300px;
    background-color: #d8d8d8;
}

#dList :nth-child(even) {
    background-color: white;
}

#listInput {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#like-wrap{
    display: flex;
    font-size: 16px;
    column-gap: 8px;
    align-items: center;
}

#likes {
    border: none;
    background-color: #808080;
    color: white;
    width: 2rem;
    height: 1.6rem;
    font-weight: bold;
    border-radius: 6px;
}

#totalLikes {
    font-weight: bold;
}