html {
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 4vw;
    background-color: hsl(0, 100%, 85%);
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    aspect-ratio: 1/1;
    gap: 1px;
    align-items: end;
    align-content: center;
    justify-content: center;
    perspective: 400px;
}

.box {
    height: 19%;
    width: 19%;
    background-color: #808080;
    animation: fadein .6s;
    transition: background-color .3s, background-image .3s, transform .3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.pink {
    background-image: linear-gradient(135deg,#ff80ff,#ffb8ff);
}

.box:hover {
    transform-style: preserve-3d;
    transform: translateZ(30px);
    background-color: #b8b8b8;
}

.pink:hover {
    background-image: linear-gradient(135deg,#ffb8ff,#ffe8ff);
}

.box:active {
    transform-style: preserve-3d;
    transform: translateZ(0px);
}

#timeWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
    margin-bottom: 14px;
    width: 40%;
}

#field {
    display: flex;
    column-gap: 14px;
    width: 50%;
}

#time {
    border-radius: 9999px;
    height: 30px;
    width: 50%;
    padding-left: 20px;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid #b8b8b8;
    color: #666;
    background-image: linear-gradient(45deg, #eee, #b8b8b8)
}

#checkTime {
    border-radius: 9999px;
    font-family: sans-serif;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #f8f8f8;
    background-image: linear-gradient(135deg, #eee, #b8b8b8);
    color: #666;
}

#display {
    height: 4vw;
    color: #666;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}